@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11% 7%;
  }
  
  body {
    @apply bg-white text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}